* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  cursor: none;
  background-color: rgb(24, 24, 24);
  color: antiquewhite;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  min-height: 10vh;
  align-items: center;
  margin: left;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: antiquewhite;
}

.nav-links a {
  text-decoration: none;
  color:antiquewhite
}

.nav-links,
h1 {
  flex: 1;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid rgb(134, 90, 186);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter: grayscale();
}

.link-grow {
  transform: scale(2);
  background: rgb(134, 90, 186);
}

.nav-links li {
  padding: 1rem;
}

.hovered-link {
  color: black;
}

/* Bio */
.bio {
  text-align: center;
  margin-right: 7rem;
  margin-top: 1rem;
  width: 50%;
  padding: 8px;
  float: right;
} 


.bio img {
  float: right;
  margin-left: .5rem;
  shape-outside: ellipse(50% 50%);
  width: 300px;
  height: 400px;
  position: relative;
  z-index: -3;
  border-radius: 50%;
  box-shadow:rgb(134, 90, 186) 10px 10px 10px;
}

.bio-text {
padding: 2rem 0 0 ;
}

/* projects */
.projects {
  margin-top: 60%;
  margin-left: 4rem;
  margin-right: 35rem;

}

.project-links:hover {
  color:black;
}

.grid-container-projects {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 30% 30% 30%;
  grid-auto-rows:minmax(80px, auto);
  text-align: center;
  margin-right: 1rem;
  margin-left: 5rem;
  border: 5px ridge rgb(134, 90, 186);  
  box-shadow:rgb(134, 90, 186) 10px 10px 10px;
  border-top-left-radius: 20px;
}

/* logo grid */
.grid-container-logo {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 30% 30% 30%;
}

.grid-container > div {
  padding: 1em;
}

/* skills logos */
#csharp {
  height: 100px;
}

#css {
  height: 100px;
}

#firebase {
  height: 150px;
}

#javascript {
  height: 100px;
}

#mysql {
  height: 100px;
}

#nodejs {
  height: 100px;
}

#react {
  height: 100px;
}

/* video */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.video-box {
  display: flex;
  float: left;
  position: absolute;
  width: 560px;
  height: 160px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  margin-top: 15rem;
  margin-left: -7rem;
}

.video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-box h2 {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 14vw;
  font-family: "Titan One", cursive;
  text-align: center;
  text-transform: lowercase;
  color: #000;
  mix-blend-mode: screen;
}